@charset "utf-8";

/* Noto Sans */
@font-face {
	font-family:'Noto Sans'; /* Bold */
	src: url('/assets/fonts/NotoSans-Bold.eot');
	src: local(☺),
			url('/assets/fonts/NotoSans-Bold.eot#iefix') format('embedded-opentype'),
			url('/assets/fonts/NotoSans-Bold.woff2') format('woff2'),
			url('/assets/fonts/NotoSans-Bold.woff') format('woff'),
			url('/assets/fonts/NotoSans-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family:'Noto Sans'; /* Medium */
	src: url('/assets/fonts/NotoSans-Medium.eot');
	src:local(☺),
			url('/assets/fonts/NotoSans-Medium.eot#iefix') format('embedded-opentype'),
			url('/assets/fonts/NotoSans-Medium.woff2') format('woff2'),
			url('/assets/fonts/NotoSans-Medium.woff') format('woff'),
			url('/assets/fonts/NotoSans-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family:'Noto Sans'; /* Regular */
	src: url('/assets/fonts/NotoSans-Regular.eot');
	src:local(※),
			url('/assets/fonts/NotoSans-Regular.eot#iefix') format('embedded-opentype'),
			url('/assets/fonts/NotoSans-Regular.woff2') format('woff2'),
			url('/assets/fonts/NotoSans-Regular.woff') format('woff'),
			url('/assets/fonts/NotoSans-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
