//variable
$font-default: 나눔고딕,NanumGothic,'맑은 고딕',arial,sans-serif;
$border-none: none;

$text-color-black: #222;
$text-color-gray: #666;

$border-primary: #e5e5e5;
$border-active: #4abdff;
$color-point : #4abdff !default;
$color-succes : #33cabb !default;
$color-white : #fff;

$break-large : 1024px;
$break-medium : 760px;
$break-small : 320px;

// Icons
$icon-prefix:'../images/';
$sprite: 'sprite.png';
