@import "base/reset";
@import "base/colors";
@import "base/font";
@import "utils/variables";
@import "utils/mixins";
@import 'components/components';
@import "layout/layout";


/* common */

#skipNavi {
    display: block;
    position: absolute;
    z-index: 100;
    top: -1000em;
    left: 0;
    padding: 10px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#container {

}

#contentes {
    position: relative;
}

#header {

}

#footer {

}

html {
    scroll-behavior: smooth;
}

