@import "app";


/* only guide style */

#guide #wrapper {
    min-width: 900px;
    transition: top 0.3s; // for scrolling
}

#guide {
    color: #666;

    #header {
        position: relative;
        z-index: 100;
        height: 80px;
        background: #000;
        @include box-shadow(0 2px 6px 0 rgba(0, 0, 0, 0.5));

        h1.title {
            position: absolute;
            top: 0px;
            left: 20px;

            a {
                display: block;
                width: 150px;
                height: 80px;
                line-height: 80px;
                font-size: 24px;
                font-weight: 600;
                color: #fff;
            }
        }

        .nav {
            position: absolute;
            top: 0px;
            left: 180px;

            ul li {
                position: relative;
                float: left;

                & a {
                    display: block;
                    padding: 0 30px;
                    line-height: 80px;
                    font-size: 19px;
                    font-weight: 500;
                    color: #a0a0a0;

                    &:hover,
                    &.on {
                        color: #ebebeb;
                    }
                }
            }
        }
    }

    #container {
        min-height: 800px;
        padding: 20px;
    }

    .category {
        margin-bottom: 30px;

        ul li {
            display: inline-block;
            margin-right: 5px;
            padding: 10px;
            text-align: center;
            background-color: #d8d8d8;
            border-radius: 3px;

            a {
                color: #363636; 
            }

            &.on {
                background-color: #3a3a3a;
                
                & a {
                    color: #ffffff;
                }
            }
        }
    }

    .cont-tit {
        padding: 70px 0 20px;
        color: #333;
        font-size: 30px;
        line-height: 38px;
        font-weight: 700;
        border-bottom: 5px solid #333;

        &:first-child {
            padding-top: 0;
        }
    }
    
    p.summary {
        margin-top: 30px;
        padding-bottom: 10px;
        font-size: 16px;
        line-height: 30px;
    }

    .cont-tit_dep2 {
        padding-top: 50px;
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        color: #333;
    }

    .cont-tit_dep3 {
        padding-top: 30px;
        color: #444;
        font-size: 17px;
        font-weight: 500;
        line-height: 20px;
    }

    .cont-box {
        margin-top: 20px;

        ul li {
            padding-left: 7px;
            font-size: 14px;

            &:before {
                content: '-';
                display: inline-block;
                margin-left: -20px;
                margin-right: 3px;
                padding-left: 7px;
                text-indent: 5px;
            }

            &:not(:first-child) {
                margin-top: 10px;
            }

            a {
                line-height: 24px;
                word-break: break-all;
                font-size: 14px;
                font-weight: 400;
                color: rgb(29, 118, 190);
            }
        }

        h4 + ul, h4 + :only-child {
            margin-top: 17px;
        }

        & .xmp {
            margin-top: 7px;
            padding: 10px 15px;
            border: 1px solid #ededed;
            font-size: 14px;
        }

        .list-link li {
            padding-left: 0;

            &:before {
                content: '';
                display: inline-block;
                margin-left: -3px;
                margin-right: 0;
                padding-left: 0;
                text-indent: 0;
            }

            strong {
                font-weight: 500;
            }
        }
    }



    #footer {

    }

    .sec_total {
        margin: 15px 0 -10px;
        text-align: right;
        font-size: 12px;
        line-height: 14px;

        &>span {
            display: inline-block;
            margin-right: 20px;
            font-size: 12px;
        }
    }

    table {
        tr {
            th {
                padding: 5px;
                background-color: #666;
                &:not(:first-child), &:not(:last-child) {
                    border-right: 1px solid #ccc;
                }
                color: #fff;
            }

            td {
                position: relative;
                padding: 5px;
                border: 1px solid #ccc;
                font-size: 13px;
                
                a {
                    font-size: 13px;
                }

                &:first-child {
                    text-align: center;
                }

                &:nth-child(4):after {
                    display: inline-block;
                    margin-left: 13px; 
                    content: '준비'; // default '준비'
                    color: #000;  // deault color
                }
            }

            &.fin {
                td:nth-child(4):after {
                    content: '완료';
                    color: #f00000;
                }
            }

            &.ing {
                td:nth-child(4):after {
                    content: '진행';
                    color: #00c200;
                }
            }

            &.del {
                text-decoration: line-through;
                a {
                    cursor: default;
                    color: #888;
                }
                td:nth-child(4):after {
                    content: '삭제';
                    text-decoration: line-through;
                    color: #888;
                }
            }

            &.com {
                background-color: #c4d7f0;
            }

            &.dup {
                background-color: #ddd;
            }

            &.com.dup {
                background-color: #c5c8cc;
            }
        }
    }

    xmp, pre {
        display: inline;
        white-space: pre-wrap;     
        font-family: 'Noto Sans','맑은 고딕','Malgun Gothic',sans-serif;   
    }

    .link_out {
        &:link,
        &:visited {
            color: #2929d3d2;
        }
    }

    #move_top {
        display: table;
        width: 60px;
        height: 60px;
        position: fixed;
        right: 20px;
        bottom: 20px;
        text-align: center;
        border-radius: 50%;
        background-color: #000;       

        a {          
            display: table-cell;
            vertical-align: middle;
            margin-top: -1px;
            font-size: 20px;
            line-height: 24px;
            color: #fff;
        }
    }

}

