@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-font-smoothing: antialiased; font-family: 'Noto Sans', '맑은 고딕', 'Malgun Gothic', Dotum, '굴림', arial, sans-serif; font-weight: 400; }

html, body { font-size: 16px; }

*, :after, :before { -webkit-box-sizing: border-box; box-sizing: border-box; }

/* 접근성을 위해 몇 가지 포커스 스타일을 설정 */
em { font-style: normal; }

/* 이전 브라우저의 HTML5 디스플레이 역할 재설정 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* 방향 전환 후 iOS 텍스트 크기 조정을 사용 중지하지 않고 방지 */
html { -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }

nav, ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* IE 6/7/8/9 및 Firefox 3에서는 정의되지 않은 '인라인 블록'표시를 수정 */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; max-width: 100%; }

/* 최신 브라우저가 컨트롤없이 '오디오'를 표시하지 못하도록 함. iOS 5 기기에서 초과 높이를 제거함. */
audio:not([controls]) { display: none; height: 0; }

/* Address 스타일은 IE 7/8/9, Firefox 3 및 Safari 4에는 없음. */
[hidden] { display: none; }

/* a 링크 밑줄 없앰 */
a { text-decoration: none; }

/* 접근성을 위해 몇 가지 포커스 스타일을 설정 */
/* IE 6/7/8/9와 Firefox 3에서 'a' 요소 내부에 테두리를 제거. IE 7에서 크기가 조정되면 이미지 품질이 향상 */
img { max-width: 100%; height: auto; border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/* IE 6/7/8/9, Safari 5 및 Opera 11에는 Address 여백이 없음. */
figure { margin: 0; }

/* 표 셀 사이의 간격 제거 */
table { border-collapse: collapse; border-spacing: 0; width: 100%; }

img { vertical-align: middle; }

/* Noto Sans */
@font-face { font-family: 'Noto Sans'; /* Bold */ src: url("/assets/fonts/NotoSans-Bold.eot"); src: local(☺), url("/assets/fonts/NotoSans-Bold.eot#iefix") format("embedded-opentype"), url("/assets/fonts/NotoSans-Bold.woff2") format("woff2"), url("/assets/fonts/NotoSans-Bold.woff") format("woff"), url("/assets/fonts/NotoSans-Bold.otf") format("opentype"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'Noto Sans'; /* Medium */ src: url("/assets/fonts/NotoSans-Medium.eot"); src: local(☺), url("/assets/fonts/NotoSans-Medium.eot#iefix") format("embedded-opentype"), url("/assets/fonts/NotoSans-Medium.woff2") format("woff2"), url("/assets/fonts/NotoSans-Medium.woff") format("woff"), url("/assets/fonts/NotoSans-Medium.otf") format("opentype"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Noto Sans'; /* Regular */ src: url("/assets/fonts/NotoSans-Regular.eot"); src: local(※), url("/assets/fonts/NotoSans-Regular.eot#iefix") format("embedded-opentype"), url("/assets/fonts/NotoSans-Regular.woff2") format("woff2"), url("/assets/fonts/NotoSans-Regular.woff") format("woff"), url("/assets/fonts/NotoSans-Regular.otf") format("opentype"); font-weight: 400; font-style: normal; }

/* 텍스트 미 노출 */
.blind { position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden; color: transparent; }

/* 노드 삭제 */
.fixed { position: fixed; }

.float-l { float: left; display: block; }

.float-r { float: right; display: block; }

.clearfix { float: none; }

/* common */
#skipNavi { display: block; position: absolute; z-index: 100; top: -1000em; left: 0; padding: 10px; text-align: center; background-color: #000; color: #fff; }

#wrapper { position: relative; width: 100%; height: 100%; }

#contentes { position: relative; }

html { scroll-behavior: smooth; }
/*# sourceMappingURL=app.css.map */