@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-font-smoothing: antialiased; font-family: 'Noto Sans', '맑은 고딕', 'Malgun Gothic', Dotum, '굴림', arial, sans-serif; font-weight: 400; }

html, body { font-size: 16px; }

*, :after, :before { -webkit-box-sizing: border-box; box-sizing: border-box; }

/* 접근성을 위해 몇 가지 포커스 스타일을 설정 */
em { font-style: normal; }

/* 이전 브라우저의 HTML5 디스플레이 역할 재설정 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* 방향 전환 후 iOS 텍스트 크기 조정을 사용 중지하지 않고 방지 */
html { -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }

nav, ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* IE 6/7/8/9 및 Firefox 3에서는 정의되지 않은 '인라인 블록'표시를 수정 */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; max-width: 100%; }

/* 최신 브라우저가 컨트롤없이 '오디오'를 표시하지 못하도록 함. iOS 5 기기에서 초과 높이를 제거함. */
audio:not([controls]) { display: none; height: 0; }

/* Address 스타일은 IE 7/8/9, Firefox 3 및 Safari 4에는 없음. */
[hidden] { display: none; }

/* a 링크 밑줄 없앰 */
a { text-decoration: none; }

/* 접근성을 위해 몇 가지 포커스 스타일을 설정 */
/* IE 6/7/8/9와 Firefox 3에서 'a' 요소 내부에 테두리를 제거. IE 7에서 크기가 조정되면 이미지 품질이 향상 */
img { max-width: 100%; height: auto; border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/* IE 6/7/8/9, Safari 5 및 Opera 11에는 Address 여백이 없음. */
figure { margin: 0; }

/* 표 셀 사이의 간격 제거 */
table { border-collapse: collapse; border-spacing: 0; width: 100%; }

img { vertical-align: middle; }

/* Noto Sans */
@font-face { font-family: 'Noto Sans'; /* Bold */ src: url("/assets/fonts/NotoSans-Bold.eot"); src: local(☺), url("/assets/fonts/NotoSans-Bold.eot#iefix") format("embedded-opentype"), url("/assets/fonts/NotoSans-Bold.woff2") format("woff2"), url("/assets/fonts/NotoSans-Bold.woff") format("woff"), url("/assets/fonts/NotoSans-Bold.otf") format("opentype"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'Noto Sans'; /* Medium */ src: url("/assets/fonts/NotoSans-Medium.eot"); src: local(☺), url("/assets/fonts/NotoSans-Medium.eot#iefix") format("embedded-opentype"), url("/assets/fonts/NotoSans-Medium.woff2") format("woff2"), url("/assets/fonts/NotoSans-Medium.woff") format("woff"), url("/assets/fonts/NotoSans-Medium.otf") format("opentype"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Noto Sans'; /* Regular */ src: url("/assets/fonts/NotoSans-Regular.eot"); src: local(※), url("/assets/fonts/NotoSans-Regular.eot#iefix") format("embedded-opentype"), url("/assets/fonts/NotoSans-Regular.woff2") format("woff2"), url("/assets/fonts/NotoSans-Regular.woff") format("woff"), url("/assets/fonts/NotoSans-Regular.otf") format("opentype"); font-weight: 400; font-style: normal; }

/* 텍스트 미 노출 */
.blind { position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; overflow: hidden; color: transparent; }

/* 노드 삭제 */
.fixed { position: fixed; }

.float-l { float: left; display: block; }

.float-r { float: right; display: block; }

.clearfix { float: none; }

/* common */
#skipNavi { display: block; position: absolute; z-index: 100; top: -1000em; left: 0; padding: 10px; text-align: center; background-color: #000; color: #fff; }

#wrapper { position: relative; width: 100%; height: 100%; }

#contentes { position: relative; }

html { scroll-behavior: smooth; }

/* only guide style */
#guide #wrapper { min-width: 900px; -webkit-transition: top 0.3s; transition: top 0.3s; }

#guide { color: #666; }

#guide #header { position: relative; z-index: 100; height: 80px; background: #000; -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5); }

#guide #header h1.title { position: absolute; top: 0px; left: 20px; }

#guide #header h1.title a { display: block; width: 150px; height: 80px; line-height: 80px; font-size: 24px; font-weight: 600; color: #fff; }

#guide #header .nav { position: absolute; top: 0px; left: 180px; }

#guide #header .nav ul li { position: relative; float: left; }

#guide #header .nav ul li a { display: block; padding: 0 30px; line-height: 80px; font-size: 19px; font-weight: 500; color: #a0a0a0; }

#guide #header .nav ul li a:hover, #guide #header .nav ul li a.on { color: #ebebeb; }

#guide #container { min-height: 800px; padding: 20px; }

#guide .category { margin-bottom: 30px; }

#guide .category ul li { display: inline-block; margin-right: 5px; padding: 10px; text-align: center; background-color: #d8d8d8; border-radius: 3px; }

#guide .category ul li a { color: #363636; }

#guide .category ul li.on { background-color: #3a3a3a; }

#guide .category ul li.on a { color: #ffffff; }

#guide .cont-tit { padding: 70px 0 20px; color: #333; font-size: 30px; line-height: 38px; font-weight: 700; border-bottom: 5px solid #333; }

#guide .cont-tit:first-child { padding-top: 0; }

#guide p.summary { margin-top: 30px; padding-bottom: 10px; font-size: 16px; line-height: 30px; }

#guide .cont-tit_dep2 { padding-top: 50px; font-size: 20px; font-weight: 500; line-height: 22px; color: #333; }

#guide .cont-tit_dep3 { padding-top: 30px; color: #444; font-size: 17px; font-weight: 500; line-height: 20px; }

#guide .cont-box { margin-top: 20px; }

#guide .cont-box ul li { padding-left: 7px; font-size: 14px; }

#guide .cont-box ul li:before { content: '-'; display: inline-block; margin-left: -20px; margin-right: 3px; padding-left: 7px; text-indent: 5px; }

#guide .cont-box ul li:not(:first-child) { margin-top: 10px; }

#guide .cont-box ul li a { line-height: 24px; word-break: break-all; font-size: 14px; font-weight: 400; color: #1d76be; }

#guide .cont-box h4 + ul, #guide .cont-box h4 + :only-child { margin-top: 17px; }

#guide .cont-box .xmp { margin-top: 7px; padding: 10px 15px; border: 1px solid #ededed; font-size: 14px; }

#guide .cont-box .list-link li { padding-left: 0; }

#guide .cont-box .list-link li:before { content: ''; display: inline-block; margin-left: -3px; margin-right: 0; padding-left: 0; text-indent: 0; }

#guide .cont-box .list-link li strong { font-weight: 500; }

#guide .sec_total { margin: 15px 0 -10px; text-align: right; font-size: 12px; line-height: 14px; }

#guide .sec_total > span { display: inline-block; margin-right: 20px; font-size: 12px; }

#guide table tr th { padding: 5px; background-color: #666; color: #fff; }

#guide table tr th:not(:first-child), #guide table tr th:not(:last-child) { border-right: 1px solid #ccc; }

#guide table tr td { position: relative; padding: 5px; border: 1px solid #ccc; font-size: 13px; }

#guide table tr td a { font-size: 13px; }

#guide table tr td:first-child { text-align: center; }

#guide table tr td:nth-child(4):after { display: inline-block; margin-left: 13px; content: '준비'; color: #000; }

#guide table tr.fin td:nth-child(4):after { content: '완료'; color: #f00000; }

#guide table tr.ing td:nth-child(4):after { content: '진행'; color: #00c200; }

#guide table tr.del { text-decoration: line-through; }

#guide table tr.del a { cursor: default; color: #888; }

#guide table tr.del td:nth-child(4):after { content: '삭제'; text-decoration: line-through; color: #888; }

#guide table tr.com { background-color: #c4d7f0; }

#guide table tr.dup { background-color: #ddd; }

#guide table tr.com.dup { background-color: #c5c8cc; }

#guide xmp, #guide pre { display: inline; white-space: pre-wrap; font-family: 'Noto Sans','맑은 고딕','Malgun Gothic',sans-serif; }

#guide .link_out:link, #guide .link_out:visited { color: #2929d3d2; }

#guide #move_top { display: table; width: 60px; height: 60px; position: fixed; right: 20px; bottom: 20px; text-align: center; border-radius: 50%; background-color: #000; }

#guide #move_top a { display: table-cell; vertical-align: middle; margin-top: -1px; font-size: 20px; line-height: 24px; color: #fff; }
/*# sourceMappingURL=guide.css.map */