@mixin border($position, $w, $style, $color){ 
    border-#{$position}: $w $style $color;
    -webkit-border-#{$position}: $w $style $color; 
    -moz-border-#{$position}: $w $style $color; 
    -ms-border-#{$position}: $w $style $color; 
    -o-border-#{$position}: $w $style $color; 
}


@mixin border-box($w, $style, $color){ 
    border: $w $style $color; 
    -webkit-border: $w $style $color; 
    -moz-border: $w $style $color; 
    -ms-border: $w $style $color; 
    -o-border: $w $style $color; 
}