@mixin broad-state($state, $h){
    font-size:13px;
    display:inline-block; 
    color:$color-white;
    padding:0px 11px 0px;
    border-radius: $h/2;
    height: $h;
    line-height:$h;

    @if $state == onair{
        background-color:$onair-color;
    } @else if $state == signoff{
        background-color:$signoff-color;
    } @else if $state == broadcasting{
        background-color:$broadcasting-color;
    }
     
    @include respond(wide-screen){ 
        border-radius: $h - 5 / 2;
        height: $h - 5 ;
        line-height:$h - 5;
    }

}