@mixin lineargradient($start-color, $start-opacity,$end-color,$end-opacity ){
    background: $start-color;
    background: -moz-linear-gradient(left, $start-color $start-opacity, $end-color $end-opacity);
    background: -webkit-gradient(left top, right top, color-stop($start-opacity, $start-color), color-stop( $end-color, $end-color));
    background: -webkit-linear-gradient(left,$start-color  $start-opacity,$end-color $end-color);
    background: -o-linear-gradient(left, $start-color $start-opacity, $end-color  $end-color);
    background: -ms-linear-gradient(left, $start-color $start-opacity, $end-color $end-color);
    background: linear-gradient(to right, $start-color $start-opacity, $end-color $end-color);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='#$end-color', GradientType=1 );
 }