

@mixin out-container($gutter){
    margin-left: - ($gutter / 2);
    margin-right:- ($gutter / 2);
}
@mixin grid-colum($gutter, $column){
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;
    margin-right: auto;
    margin-left: auto;
    width: 100% / $column;

}