
@mixin sprite{
  background-image: url($icon-prefix + $sprite);
  background-size:770px 1040px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

@mixin brand-logo{
    background-position: -400px -320px;
    width: 172px;
    height: 44px;
} 

//css-icon
@mixin icon-triangle($postion,$size, $color){
    @if $postion == bottom{
        width:0;height:0; 
        border-top:$size solid $color;
        border-left:$size solid transparent;
        border-right:$size solid transparent;
        border-bottom:$size solid transparent;
    }@else if $postion == up{
        width:0;height:0; 
        border-top:$size solid transparent;
        border-left:$size solid transparent;
        border-right:$size solid transparent;
        border-bottom:$size solid $color;
    }
    @else if $postion == right{
        width:0;height:0; 
        border-top:$size solid transparent;
        border-left:$size solid $color;
        border-right:$size solid transparent;
        border-bottom:$size solid transparent;
    }
    @else if $postion == left{
        width:0;height:0; 
        border-top:$size solid transparent;
        border-left:$size solid transparent;
        border-right:$size solid $color;
        border-bottom:$size solid transparent;
    }
}

@mixin icon-arrow($postion,$color,$w,$h){
    position: absolute; 
    color:$color;
    &::before {
        content: "";
        position: absolute;
        left: -5px;
        top:0px;
        border-top: solid 1px currentColor;
        border-right: solid 1px currentColor;
        width:$w; height:$h;
        @if $postion == down{
            @include transform-rotate(135deg);
        }
        @if $postion == top{
            @include transform-rotate(-45deg);
        }
        @else if $postion == left{
            @include transform-rotate(222deg);
        }
        @else if $postion == right{
            @include transform-rotate(44deg);
        }
    }
}

@mixin icon-cross($color, $w, $h){
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    color: $color;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
    width:$w;
    height: $h;
    @include transform-rotate(45deg);
    margin: 2px;

    &::after{
        content:'';
        height:30px;
        width:1px;
        box-shadow: inset 0 0 0 32px;     
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform-translate(-50%, -50%);
    }

    &::before{
        content:'';
        width:30px;
        height:1px;
        box-shadow: inset 0 0 0 32px;     
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform-translate(-50%, -50%);
    }
}

@mixin point($w, $h, $color){
    display:inline-block;
    width:$w; height:$h; 
    background-color:$color;
    border-radius: 50%;
}




@mixin icon($w, $h, $posi-x, $posi-y){
    width:$w;
    height:$h; 
    background-position: $posi-x $posi-y;
}
  
@mixin icon-hover($w, $h, $posi-x, $posi-y, $h-posi-x, $h-posi-y){
    width:$w;
    height:$h; 
    background-position: $posi-x $posi-y;

    &:hover{
        background-position: $h-posi-x $h-posi-y;
    }
}
  
