
@mixin input-type{
    color:$text-color-black;
    padding:8px; 
    width:100%;
    vertical-align: middle;
    -webkit-appearance: none;
    @include border-box(1px, solid, $border-primary);
    @include box-sizing;
}
