
@mixin respond($width) {
    @if $width == wide-screen{
        @media screen and (max-width: $break-large){
            @content;
        }
    }
    @else if $width == medium-screen{
        @media screen and (max-width: $break-medium){
            @content;
        }
    }
    @else if $width == small-screen{
        @media screen and (max-width: $break-small){
            @content;
        }
    }
}