@mixin text-ellipsis ($line , $w ){
    @if ($line == 1){
    display: inline-block;
    width:$w;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    word-break: break-all;

    } @else {
        display: -webkit-box;
        width:$w;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp:$line;
        -webkit-box-orient: vertical;
        white-space: initial;

    }
}