@mixin hide{
    position:absolute; 
    left:-10000%; 
    top:0; 
    overflow:hidden; 
    width:1px; 
    height:1px;
    font-size:0; 
    line-height:0; 
    text-indent:-10000px; 
}


/* 텍스트 미 노출 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent;
}

/* 노드 삭제 */
