@mixin transform-translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
  }
  
  @mixin transform-rotate($r) {
    -webkit-transform: rotate($r);
    -moz-transform: rotate($r);
    -ms-transform: rotate($r);
    -o-transform: rotate($r);
    transform: rotate($r);
  }
