@mixin transition($transition...){
    -webkit-transition:  $transition;
    -moz-transition:     $transition;
    -o-transition:       $transition;
    -ms-transition:      $transition;
    transition:          $transition;
  }
  @mixin transition-property($property){
    -webkit-transition-property:  $property;
    -moz-transition-property:     $property;
    -o-transition-property:       $property;
    -ms-transition-property:      $property;
    transition-property:          $property;
  }

  @mixin transition-delay($delay) {
    -webkit-transition-delay:  $delay;
    -moz-transition-delay:     $delay;
    -ms-transition-delay:      $delay;
    -o-transition-delay:       $delay;
    transition-delay:          $delay;
  }
  
  @mixin transition-duration($duration) {
    -webkit-transition-duration:  $duration;
    -moz-transition-duration:     $duration;
    -o-transition-duration:       $duration;
    -ms-transition-duration:      $duration;
    transition-duration:          $duration;
  }
    
  @mixin transition-timing-function($function) {
    -webkit-transition-timing-function:  $function;
    -moz-transition-timing-function:     $function;
    -o-transition-timing-function:       $function;
    -ms-transition-timing-function:      $function;
    transition-timing-function:          $function;
  }
